<%= simple_form_for(@source) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :source_type, collection: ["book", "podcast", "article", "video"] %>
    <%= f.input :year %>
    <%= f.input :author %>
    <%= f.input :url %>
    <%= f.input :publisher %>
    <%= f.input :summary %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
