<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @creative_action.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @creative_action.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @creative_action.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @creative_action.user_id %>
</p>

<%= link_to 'Edit', edit_creative_action_path(@creative_action) %> |
<%= link_to 'Back', creative_actions_path %>
