<%= simple_form_for(@idea) do |f| %>
  <h3>Idea</h3>
    
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :notes, input_html: { class: 'rte' } %>
    <%= f.input :item_type, collection: Item::ITEM_TYPES, selected: :idea  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
