<%= simple_form_for(@idea) do |f| %>
  <h3>Idea</h3>
    
  <%= f.error_notification %>

  <div>
    <%= f.input :title %>
    <%= f.input :notes, input_html: { class: '' } %>
    <div class="hide">
      <%= f.input :item_type, collection: Item::ITEM_TYPES, selected: :idea %>
    </div>
  </div>

  <div >
    <%= f.button :submit %>
  </div>
<% end %>
