<p id="notice"><%= notice %></p>

  <h5><%= @idea.item_type %></h5>
  <strong>Title:</strong>
  <%= @idea.title %>

  <section>
    <p>
      <%= @idea.notes.html_safe %>
    </p>
  </section>
  

<%= link_to 'Delete', @idea, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
<%= link_to 'Edit', edit_idea_path(@idea) %> 
