<div class="ca-items">
  <p id="notice"><%= notice %></p>
  <% items.each_with_index do |item, index| %>
    <div class="ca-item">
      <div class = "ca-title">
        <%= index + 1 %>.
        <%= link_to item.title, item %> 
        <%= link_to 'x',  item,  method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-delete" %>
      </div>
      <div class="ca-description"><%= item.description %></div>
    </div>
  <% end %>
</div>
