<p id="notice"><%= notice %></p>

<h1>Excerpts</h1>


  <ul>
    <% @excerpts.each do |excerpt| %>
      <li>
        <h3>
          <%= excerpt.source.title if excerpt.source %>
        </h3>
        <blockquote>
          <%= excerpt.full_text %>
        </blockquote>
        <summary>
          <%= excerpt.short_text %>
        </summary>

        <em>
          <%= excerpt.page_number %>
        </em>
        <summary>
          <%= excerpt.commentary %>
        </summary>
        <footer>
          <%= link_to 'Show', excerpt %>
          <%= link_to 'Edit', edit_excerpt_path(excerpt) %>
          <%= link_to 'Destroy', excerpt, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'New Excerpt', new_excerpt_path %>
        </footer>
      </li>
    <% end %>
  </ul>
<br>


