<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @.subtitle %>
</p>

<p>
  <strong>Year:</strong>
  <%= @.year %>
</p>

<p>
  <strong>Author:</strong>
  <%= @.author %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @.summary %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @.publisher %>
</p>

<%= link_to 'Edit', edit__path(@) %> |
<%= link_to 'Back', s_path %>
