<div class="ca-post">
  <%= simple_form_for @post do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
            <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.input :title,  input_html: { class: "ca-title" }, placeholder: "Title", label: false, autofocus: true %>

    
    <%= f.text_area :body, class: "rte editable" %>
    <%= f.input :summary,  input_html: { class: "ca-summary" }, placeholder: "Summary", label: false, autofocus: true %>
    <div class="">
      <%= f.button :submit, class: "ca-button", value: "Save Post" %>
    </div>
    </div>
  <% end %>
</div>
