<div class="post-editor col-sm-8 col-sm-offset-3">
  <%= simple_form_for @post do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
            <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group elements-edit">
      <%= f.association :element, as: :radio_buttons %>
    </div>

    <div class="form-group title">
      <%= f.input :title,  input_html: { class: "title" }, placeholder: "Article title", label: false, autofocus: true %>
    </div>
    <div class="form-group summary">
      <%= f.input :summary,  input_html: { class: "summary" }, placeholder: "Article summary", label: false %>
    </div>

    <div class="form-group">
      <%= f.text_area :body, class: "form-control rte" %>
    </div>
    <div class="post-actions">
      <div class="form-group text-center">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
