<div class="ca-post">

  <div class="ca-post-header">
    <h2><%= @post.title %></h2>
    <div class="ca-post-author">
      <%= @post.user.email %>
    </div>
  </div>
  <div class="ca-post-body">
    <div class="ca-post-summary"><%= raw @post.summary %></div>
    <div class="post-body"><%= raw @post.body %></div>
    <%= link_to "Edit", edit_post_path(@post), class: "post-link" %>
    <h4><a href="/timeline">See All Posts</a></h4>
  </div>
</div>