<%= simple_form_for(@goal) do |f| %>
  <h3>Goal:</h3>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :notes, input_html: { class: 'rte' } %>
    <%= f.input :item_type, collection: Item::ITEM_TYPES, selected: :goal  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

