
<div class="ca-show-item">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @goal.title %>
  </h3>

  <section>
    <p>
      <%= @goal.notes.html_safe %>
    </p>
  </section>
  <h5><%= @goal.item_type %></h5>

  <%= link_to 'Delete', @goal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>

  <%= link_to 'Edit', edit_goal_path(@goal) %>
</div>

