<!DOCTYPE html>
<html>
  <head>
    <title>Camillo</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Unica+One|Arimo" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container">
    <div>
      <p class=""><%= notice %></p>
      <p class=""><%= alert %></p>
    </div>

    <%= render "partials/header" %>
    <%= yield %>
  </body>
</html>
