<!DOCTYPE html>
<html>
  <head>
    <title>Camillo</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:500|Source+Sans+Pro:700|Tinos" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container">
    <header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>

    <%= render "partials/header" %>
    <%= yield %>
  </body>
</html>
